#paletteListConatiner {
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    background-color: #00000044;
    transition: all .3s ease-in-out;
}

#paletteList {
    padding: 3rem 0;
    display: flex;
    justify-content: center;
    gap: 4%;
    overflow: hidden;
    align-items: center;
}

.palette{
    flex : 0 0 6rem;
    height: 6rem;
    cursor: pointer;
    position: relative;
    ;
}

@keyframes newPaletteAnimation {
    0% {
        transform: rotate(-20deg);
    }
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-5deg);
    }
    100%{
        transform: rotate(0);
    }
}
.palette.selected {
    animation: newPaletteAnimation .5s;
}

.palette .mainColor {
    position : absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    z-index: 2;
    border : 1px solid white;
}
.palette .baseColor {
    position : absolute;
    width: 60%;
    height: 60%;
    bottom: 0;
    right: 0;
    border : 1px solid white;
}
.palette.selected {
    box-shadow: 0px 0px 15px #ffffff88;
}
.newPalette {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    border : 1px solid white;
    border-style: dashed;
    cursor: pointer;
}
.newPalette > svg {
    fill: white;
    width: 100%;
    height: 100%;
    transition:  all .6s ease-out;    
}
.newPalette > svg:hover {
    transform: rotate(-180deg) scale(1.2);; 
}

#paletteListToggleButton{

    width: 4rem;
    height: 3rem;
    position: absolute;
    top:0;
    transform: translateY(-100%);
    right:0;
}
#paletteListToggleButton svg {
    fill: var(--element-color);
    width: 2.4rem;  
    height: 2.4rem;
}

.paletteIndexButton {
    width: 3rem;
    height: 8rem;
    position: fixed;
    top: calc(50% - 4rem);
    transition: background-color 0.3s ease-out;
}
.paletteIndexButton:hover {
    background-color: var(--element-color);
    
}
.paletteIndexButton svg {
    fill: var(--element-color);
    width: 3rem;
    height: 3rem;
}
.paletteIndexButton:hover svg {
    fill : var(--current-color)
}

#prevPaletteButton {
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#nextPaletteButton {
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}


#paletteTitle {
    position: fixed;
    display: inline-block;
    top: 50vh;
    left: 50vw;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: -3;
    color : white;
    text-shadow: 0px 0px 15px #121212;
    font-size: 4.8rem;
}